
    <div class="detail" id="interests" *ngIf="interests != null">
        <div class="icon"><i class="fs-lg icon-heart"></i><span class="mobile-title">Interests</span></div>
        <div class="info">
            <h4 class="title text-uppercase">Interests</h4>
            <div class="content">
                <ul class="list-unstyled clear-margin">
                    <li class="card card-nested" *ngFor="let interest of interests">
                        <p><strong>{{interest.name}}</strong></p>
                        <div class="space-top labels">
                            <span class="label label-keyword" *ngFor="let keyword of interest.keywords">{{keyword}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
