
    <div class="detail" id="references" *ngIf="references != null">
        <div class="icon"><i class="fs-lg icon-thumbs-up"></i><span class="mobile-title">References</span></div>
        <div class="info">
            <h4 class="title text-uppercase">References</h4>
            <div class="content">
                <ul class="list-unstyled clear-margin">
                    <li class="card card-nested" *ngFor="let ref of references">{{ref.name}}
                        <blockquote class="quote">
                            <div class="mop-wrapper">
                                <p>{{ref.reference}}</p>
                            </div>
                        </blockquote>
                    </li>
                </ul>
            </div>
        </div>
    </div>
