{{if .flash}}
    {{if (index .flash "warning")}}
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>{{index .flash "warning"}}
        </div>
    {{else if (index .flash "error")}}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>{{index .flash "error"}}
            {{if .Errors}}
                <ul>
                    {{range .Error}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            {{end}}
        </div>
    {{else if (index .flash "success")}}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>{{index .flash "success"}}
        </div>
    {{end}}
{{end}}