<!--<script src="/cdn-cgi/scripts/78d64697/cloudflare-static/email-decode.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(function() {
        var toggleFloatingMenu = function() {
            $('.js-floating-nav').toggleClass('is-visible');
            $('.js-floating-nav-trigger').toggleClass('is-open');
        };

        $(".background-card").css("min-height", window.screen.availHeight + "px");
        $("[data-toggle=tooltip]").tooltip();
        $('.js-floating-nav-trigger').on('click', function(e) {
            e.preventDefault();
            toggleFloatingMenu();
        });
        $('.js-floating-nav a').on('click', toggleFloatingMenu);

        $("#remaining-profiles").on('show.bs.collapse', function() {
            $('.js-profiles-collapse > i')
                    .removeClass('icon-chevron-down')
                    .addClass('icon-chevron-up');
        });

        $("#remaining-profiles").on('hidden.bs.collapse', function() {
            $('.js-profiles-collapse > i')
                    .removeClass('icon-chevron-up')
                    .addClass('icon-chevron-down');
        });
    });
</script>
<script>
    WebFontConfig = {
        google: {
            families: ['Lato:300,400,700:latin']
        }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>