<a class="js-floating-nav-trigger floating-nav-trigger" href="#">
    <i class="icon-bars"></i>
    <span class="close-icon">&times;</span>
</a>
<nav class="floating-nav js-floating-nav">
    <ul class="list-unstyled">
        {{if .insession}}
            {{if eq .NavTemplate "root"}}
                {{template "navoptions/rootauthnav.html"}}
            {{else if eq .NavTemplate "rbuilder"}}
                {{template "navoptions/rbuildernav.html"}}
            {{end}}
            <li>
                <a href="/logout"><i class="mr-10 icon-book"></i>Logout</a>
            </li>
        {{else}}
            {{template "navoptions/noauthnav.html"}}
        {{end}}
    </ul>
</nav>