{{template "_layout.html" .}}
{{define "content"}}
{{template "content/rbuilder/stylesheets.html"}}
<aside id="sidebar">
    <div id="panel">
        <div class="inner">
            <div class="actions">
                <button id="export" class="button" data-placement="bottom" title="Download JSON"></button>
                <button id="reset" class="button hidden">Reset</button>
                <button id="clear" class="button">Clear</button>
            </div>
            <div class="theme">
                Current theme:
                <strong id="theme-current"></strong>
            </div>
            <div class="tabs">
                <a href="#editor" data-toggle="tab" class="active">Editor</a>
                <a href="#themes" data-toggle="tab">Themes</a>
            </div>
            <div class="view">
                <a href="" class="active" data-type="html">HTML</a>
                <a href="" data-type="json">JSON</a>
            </div>
        </div>
    </div>
    <div id="editor" class="tab-pane active">
        <div class="tse-scrollable">
            <div id="form" class="tse-content"></div>
        </div>
    </div>
    <div id="themes" class="tab-pane">
        <div class="tse-scrollable">
            <div id="themes-list" class="tse-content">
                <a href="" class="item">
                    <span class="version"></span>
                    <span class="name"></span>
                </a>
            </div>
        </div>
    </div>
</aside>
<div id="preview">
    <div id="overlay"></div>
    <textarea id="json-editor"></textarea>
    <div id="iframe-wrapper">
        <iframe id="iframe"></iframe>
    </div>
</div>
{{template "content/rbuilder/javascript.html"}}
{{end}}