{{template "_layout.html" .}}
{{define "content"}}
    {{template "content/resume/profile.html" .resume}}
    <section class="col-md-9 card-wrapper pull-right">
        <div class="card background-card">
            <h4 class="text-uppercase">Background</h4>
            <hr />
            <div class="background-details">
                {{template "content/resume/about.html" .resume}}
                {{template "content/resume/workexperience.html" .resume}}
                {{template "content/resume/skills.html" .resume}}
                {{template "content/resume/education.html" .resume}}
                {{template "content/resume/awards.html" .resume}}
                {{template "content/resume/volunteerwork.html" .resume}}
                {{template "content/resume/publications.html" .resume}}
                {{template "content/resume/interests.html" .resume}}
                {{template "content/resume/references.html" .resume}}
            </div>
        </div>
    </section>
{{end}}