<div class="detail" id="about">
    <div class="icon"><i class="fs-lg icon-board"></i><span class="mobile-title">About</span></div>
    <div class="info">
        <h4 class="title text-uppercase">About</h4>
        <div class="card card-nested">
            <div class="content mop-wrapper" itemprop="description">
            {{with .Basics}}
                <p>{{.Summary}}</p>
            {{end}}
            </div>
        </div>
    </div>
</div>