<div class="detail" id="awards">
    <div class="icon"><i class="fs-lg icon-trophy"></i><span class="mobile-title">Awards</span></div>
    <div class="info">
        <h4 class="title text-uppercase">Awards</h4>
        <div class="content">
            <ul class="list-unstyled clear-margin">
                {{range .Awards}}
                    <li class="card card-nested">
                        <div class="content">
                            <p class="clear-margin" itemprop="award"><strong>{{.Title}} </strong>{{.Awarder}}</p>
                            <p class="text-muted"><small>Awarded on: {{prettydate .Date}}</small></p>
                            <div class="mop-wrapper">
                                <p>{{.Summary}}</p>
                            </div>
                        </div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>