<div class="detail" id="education">
    <div class="icon"><i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">Education</span></div>
    <div class="info">
        <h4 class="title text-uppercase">Education</h4>
        <div class="content">
            <ul class="list-unstyled clear-margin">
                {{range .Education}}
                    <li class="card card-nested">
                        <div class="content">
                            <p class="clear-margin relative"><strong>{{.Area}}, {{.StudyType}},&nbsp;</strong>{{.Institution}}</p>
                            <p class="text-muted"><small><span class="space-right">{{prettydate .StartDate}} - {{prettydate .EndDate}}</span><span><i class="icon-clock mr-5"></i>{{timediff .StartDate .EndDate}}</span></small></p>
                            <i>{{.Gpa}}</i>
                            <div class="space-top labels">
                                {{range .Courses}}
                                    <span class="label label-keyword">{{.}}</span>
                                {{end}}
                            </div>
                        </div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>