<div class="detail" id="publications">
    <div class="icon"><i class="fs-lg icon-newspaper"></i><span class="mobile-title">Publications</span></div>
    <div class="info">
        <h4 class="title text-uppercase">Publications</h4>
        <div class="content">
            <ul class="list-unstyled clear-margin">
                {{range .Publications}}
                    <li class="card card-nested">
                        <div class="content">
                            <p class="clear-margin"><strong><a href={{.Website}} target="_blank">{{.Name}}</a>&nbsp;,&nbsp;</strong>{{.Publisher}}</p>
                            <p class="text-muted"><small>Published on: {{prettydate .ReleaseDate}}</small></p>
                            <div class="mop-wrapper">
                                <p>{{.Summary}}</p>
                            </div>
                        </div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>