<div class="detail" id="references">
    <div class="icon"><i class="fs-lg icon-thumbs-up"></i><span class="mobile-title">References</span></div>
    <div class="info">
        <h4 class="title text-uppercase">References</h4>
        <div class="content">
            <ul class="list-unstyled clear-margin">
                {{range .References}}
                    <li class="card card-nested">{{.Name}}
                        <blockquote class="quote">
                            <div class="mop-wrapper">
                                <p>{{.Reference}}</p>
                            </div>
                        </blockquote>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>