<div class="detail" id="skills">
    <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">Skills</span></div>
    <div class="info">
        <h4 class="title text-uppercase">Skills</h4>
        <div class="content">
            <ul class="list-unstyled clear-margin">
                {{range .Skills}}
                    <li class="card card-nested card-skills">
                        <div class="skill-level" data-toggle="tooltip" title={{.Level}} data-placement="left">
                            <div class="skill-progress {{.Level}}"></div>
                        </div>
                        <div class="skill-info"><strong>{{.Name}}</strong>
                            <div class="space-top labels">
                                {{range .Keywords}}
                                    <span class="label label-keyword">{{.}}</span>
                                {{end}}
                            </div>
                        </div>
                    </li>
                {{end}}
                <!--<li class="card card-nested card-skills">
                    <div class="skill-level" data-toggle="tooltip" title="Master" data-placement="left">
                        <div class="skill-progress master"></div>
                    </div>
                    <div class="skill-info"><strong>Compression</strong>
                        <div class="space-top labels"><span class="label label-keyword">Mpeg</span><span class="label label-keyword">MP4</span><span class="label label-keyword">GIF</span></div>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
</div>