<div class="detail" id="volunteer-work">
    <div class="icon"><i class="fs-lg icon-child"></i><span class="mobile-title">Volunteer Work</span></div>
    <div class="info">
        <h4 class="title text-uppercase">Volunteer Work</h4>
        <div class="content">
            <ul class="list-unstyled clear-margin">
                {{range .Volunteer}}
                    <li class="card card-nested">
                        <div class="content">
                            <p class="clear-margin relative"><strong>{{.Position}}, </strong><a href={{.Website}} target="_blank">{{.Organization}}</a></p>
                            <p class="text-muted"><small><span class="space-right">{{prettydate .StartDate}} - {{prettydate .EndDate}}</span><span><i class="icon-clock mr-5"></i>{{timediff .StartDate .EndDate}}</span></small></p>
                            <div class="mop-wrapper">
                                <p>{{.Summary}}</p>
                            </div>
                            <ul>
                                {{range .Highlights}}
                                    <li class="mop-wrapper">
                                        <p>{{.}}</p>
                                    </li>
                                {{end}}
                            </ul>
                        </div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>