.json-builder input {
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    margin: 0;
    outline: none;
    padding: 3px 0 6px;
    resize: none;
    width: 100%;
}
.json-builder button {
    font-size: 11px;
    margin: 0;
    outline: 0;
    padding: 4px 8px;
}
.json-builder button:hover {
    opacity: .8;
}
.json-builder .title {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 15px;
    text-transform: capitalize;
}
.json-builder .content {
    padding: 10px;
}
.json-builder .array .array .title {
    font-size: 14px;
}
.json-builder .item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 20px 10px 10px;
}
.json-builder .item .handle {
    background: #ececec;
    background-image: linear-gradient(#f4f4f4, #ececec);
    border-bottom: 1px solid #ddd;
    cursor: row-resize;
    overflow: hidden;
    margin: -20px -10px 10px;
    min-height: 10px;
}
.json-builder .item > .string input {
    border-bottom: none;
    padding: 0;
}
.json-builder .item > .string .title {
    display: none;
}
.json-builder .placeholder {
    background: #f9f9f9;
    border: 1px dashed #ddd;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 20px 10px 10px;
}
.json-builder .string .title {
    color: #999;
    font-size: 11px;
    font-family: monospace;
    font-weight: normal;
    margin: 0;
}
.json-builder .string + .string,
.json-builder .string + .object {
    margin-top: 8px;
}
.json-builder .add {
    margin-left: 10px;
}
.json-builder .item .add {
    margin-left: 0px;
}