<section class="col-md-9 card-wrapper pull-right">
    <div class="card background-card">
        <h4 class="text-uppercase">Background</h4>
        <hr />
        <div class="background-details">
            <my-about></my-about>
            <my-workexp></my-workexp>
            <my-skills></my-skills>
            <my-edu></my-edu>
            <my-awards></my-awards>
            <my-volnwork></my-volnwork>
            <my-pubs></my-pubs>
            <my-interests></my-interests>
            <my-refs></my-refs>
        </div>
    </div>
</section>