<a class="js-floating-nav-trigger floating-nav-trigger" href="#">
    <i class="icon-bars"></i>
    <span class="close-icon">&times;</span>
</a>
<nav class="floating-nav js-floating-nav">
    <ul id="nav" class="list-unstyled" *ngIf="loggedin == false">
        <li>
            <a href="/resume#about"><i class="mr-10 icon-board"></i>About</a>
        </li>
        <li>
            <a href="/resume#work-experience"><i class="mr-10 icon-office"></i>Work Experience</a>
        </li>
        <li>
            <a href="/resume#skills"><i class="mr-10 icon-tools"></i>Skills</a>
        </li>
        <li>
            <a href="/resume#education"><i class="mr-10 icon-graduation-cap"></i>Education</a>
        </li>
        <li>
            <a href="/resume#awards"><i class="mr-10 icon-trophy"></i>Awards</a>
        </li>
        <li>
            <a href="/resume#volunteer-work"><i class="mr-10 icon-child"></i>Volunteer Work</a>
        </li>
        <li>
            <a href="/resume#publications"><i class="mr-10 icon-newspaper"></i>Publications</a>
        </li>
        <li>
            <a href="/resume#interests"><i class="mr-10 icon-heart"></i>Interests</a>
        </li>
        <li>
            <a href="/resume#references" target="_self"><i class="mr-10 icon-thumbs-up"></i>References</a>
        </li>
        <li>
            <a id="nav-link" [routerLink]="['Login']"><i class="mr-10 fas fa-book-open"></i>Login</a>
        </li>
    </ul>
    <ul id="nav" class="list-unstyled" *ngIf="loggedin == true">
        <li>
            <a><i class="mr-10 fas fa-user"></i>Profile</a>
        </li>
        <li>
            <a><i class="mr-10 fas fa-cogs"></i>Settings</a>
        </li>
        <li>
            <a><i class="mr-10 fas fa-edit"></i>Edit Resume</a>
        </li>
        <li>
            <a (click)="logOut()"><i class="mr-10 fas fa-book"></i>Logout</a>
        </li>
    </ul>
</nav>

        <!--.js-floating-nav ul li a-->