<li>
    <a href="#about"><i class="mr-10 icon-board"></i>About</a>
</li>
<li>
    <a href="#work-experience"><i class="mr-10 icon-office"></i>Work Experience</a>
</li>
<li>
    <a href="#skills"><i class="mr-10 icon-tools"></i>Skills</a>
</li>
<li>
    <a href="#education"><i class="mr-10 icon-graduation-cap"></i>Education</a>
</li>
<li>
    <a href="#awards"><i class="mr-10 icon-trophy"></i>Awards</a>
</li>
<li>
    <a href="#volunteer-work"><i class="mr-10 icon-child"></i>Volunteer Work</a>
</li>
<li>
    <a href="#publications"><i class="mr-10 icon-newspaper"></i>Publications</a>
</li>
<li>
    <a href="#interests"><i class="mr-10 icon-heart"></i>Interests</a>
</li>
<li>
    <a href="#references"><i class="mr-10 icon-thumbs-up"></i>References</a>
</li>
<li>
    <a href="/login"><i class="mr-10 icon-book"></i>Login</a>
</li>