
    <div class="detail" id="work-experience" *ngIf="workexp != null">
        <div class="icon"><i class="fs-lg icon-office"></i><span class="mobile-title">Work Experience</span></div>
        <div class="info">
            <h4 class="title text-uppercase">Work Experience</h4>
            <ul class="list-unstyled clear-margin" *ngFor="let work of workexp"> <!-- Begin if -->
                <li class="card card-nested clearfix">
                    <div class="content">
                        <p class="clear-margin relative"><strong>{{work.position}}</strong>,&nbsp;<a href={{work.website}} target="_blank">{{work.company}}</a></p>
                        <p class="text-muted"><small><span class="space-right">{{work.startDate|stringtoDate|date:"LLLL d, y"}} - {{work.endDate|stringtoDate|date:"LLLL d, y"}}</span><span><i class="icon-clock mr-5"></i>{{work.endDate|dateDifference:work.startDate}}</span></small></p>
                        <div class="mop-wrapper space-bottom">
                            <p>{{work.summary}}</p>
                        </div>
                        <ul>
                            <li class="mop-wrapper" *ngFor="let hl of work.highlights">
                                <p>{{hl}}</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul> <!-- end if -->
        </div>
    </div>
