<script src="js/json-builder/libs.min.js"></script>
<script src="js/json-builder/builder.js"></script>
<script src="js/json-builder/builder.templates.js"></script>
<script src="js/json-builder/main.js"></script>