
    <div class="detail" id="education" *ngIf="education != null">
        <div class="icon"><i class="fs-lg icon-graduation-cap"></i><span class="mobile-title">Education</span></div>
        <div class="info">
            <h4 class="title text-uppercase">Education</h4>
            <div class="content">
                <ul class="list-unstyled clear-margin">
                    <li class="card card-nested" *ngFor="let educ of education">
                        <div class="content">
                            <p class="clear-margin relative"><strong>{{educ.area}}, {{educ.studyType}},&nbsp;</strong>{{educ.institution}}</p>
                            <p class="text-muted"><small><span class="space-right">{{educ.startDate|stringtoDate|date:"LLLL d, y"}} - {{educ.endDate|stringtoDate|date:"LLLL d, y"}}</span><span><i class="icon-clock mr-5"></i>{{educ.endDate|dateDifference:educ.startDate}}</span></small></p>
                            <i>{{educ.gpa}}</i>
                            <div class="space-top labels">
                                <span class="label label-keyword" *ngFor="let edc of educ.courses">{{edc}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
