
    <div class="detail" id="awards" *ngIf="awards != null">
        <div class="icon"><i class="fs-lg icon-trophy"></i><span class="mobile-title">Awards</span></div>
        <div class="info">
            <h4 class="title text-uppercase">Awards</h4>
            <div class="content">
                <ul class="list-unstyled clear-margin">
                    <li class="card card-nested"  *ngFor="let award of awards">
                        <div class="content">
                            <p class="clear-margin" itemprop="award"><strong>{{award.title}} </strong>{{award.awarder}}</p>
                            <p class="text-muted"><small>Awarded on: {{award.date|stringtoDate|date:"LLLL d, y"}}</small></p>
                            <div class="mop-wrapper">
                                <p>{{award.summary}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
