<!DOCTYPE html>
<html>
    <!-- HEADER SECTION -->
    {{template "_header.html" .resume}}
    <!-- END HEADER SECTION -->
    <body itemscope="itemscope" itemtype="http://schema.org/Person">
        <div class="container-fluid">
            <div class="row main clearfix">
                <!-- Alert Section -->
                {{template "_alert.html" .}}
                <!-- END Alert Section -->
                <!-- NAV SECTION -->
                {{template "_nav.html" .}}
                <!-- END NAV SECTION -->
                    <!-- CONTENT SECTION -->
                    {{block "content" .}}{{end}}
                    <!-- END CONTENT SECTION -->
                <!-- FOOTER SECTION -->
                {{template "_footer.html"}}
                <!-- END FOOTER SECTION -->
            </div>
        </div>
    </body>
</html>