
    <section class="col-md-3 card-wrapper profile-card-wrapper affix" *ngIf="basics != null">
        <div class="card profile-card">
            <span class="profile-pic-container">
                <div class="profile-pic">
                     <img class="media-object img-circle center-block" data-src="holder.js/100x100" alt="{{basics.name}}" src="{{basics.picture}}" itemprop="image" />
                </div>
                <div class="name-and-profession text-center">
                    <h3 itemprop="name"><b>{{basics.name}}</b></h3>
                    <h5 class="text-muted" itemprop="jobTitle">{{basics.label}}</h5>
                </div>
            </span>
            <hr />
            <div class="contact-details clearfix">
                <div class="detail">
                    <span class="icon">
                        <i class="icon fs-lg icon-location"></i>
                    </span>
                    <span class="info">
                        {{basics.location.region}}, {{basics.location.countryCode}}
                    </span>
                </div>
                <div class="detail">
                    <span class="icon">
                        <i class="icon fs-lg icon-phone"></i>
                    </span>
                    <span class="info" itemprop="telephone">{{basics.phone}}</span>
                </div>
                <div class="detail">
                    <span class="icon">
                        <i class="icon fs-lg icon-mail"></i>
                    </span>
                    <span class="info">
                        <a class="link-disguise" href="/cdn-cgi/l/email-protection#b7c5ded4dfd6c5d399dfd2d9d3c5dedcc4f7dad6dedb99d4d8da" itemprop="email">
                            <span class="__cf_email__" data-cfemail="e89a818b80899a8cc6808d868c9a81839ba885898184c68b8785">{{basics.email}}</span>
                        </a>
                    </span>
                </div>
                <div class="detail">
                    <span class="icon">
                        <i class="icon fs-lg icon-link"></i>
                    </span>
                    <span class="info">
                        <a href="{{basics.website}}" target="_blank">{{basics.website}}</a>
                    </span>
                </div>
                <div *ngIf="language != null">
                    <div *ngFor="let lang of language">
                        <div class="detail"><span class="icon" title="Languages I speak"><i class="icon fs-lg icon-language"></i></span><span class="info">{{lang.name}}</span></div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="social-links text-center">
                 <div>
                     <span *ngFor="let profile of basics.profiles">
                         <a class="fs-2x social-link link-twitter icon-twitter" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Twitter" *ngIf="profile.network == 'Twitter'"></a>
                         <a class="fs-2x social-link link-facebook icon-facebook" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on FaceBook" *ngIf="profile.network == 'FaceBook'"></a>
                         <a class="fs-2x social-link link-linkedin icon-linkedin" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Linkedin" *ngIf="profile.network == 'Linkedin'"></a>
                         <a class="fs-2x social-link link-soundcloud icon-soundcloud" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on SoundCloud" *ngIf="profile.network == 'SoundCloud'"></a>
                         <a class="fs-2x social-link link-spotify icon-spotify" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Spotify" *ngIf="profile.network == 'Spotify'"></a>
                         <a class="fs-2x social-link link-instagram icon-instagram" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Instagram" *ngIf="profile.network == 'Instagram'"></a>
                         <a class="fs-2x social-link link-reddit icon-reddit" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Reddit" *ngIf="profile.network == 'Reddit'"></a>
                         <a class="fs-2x social-link link-telegram icon-telegram" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Telegram" *ngIf="profile.network == 'Telegram'"></a>
                         <a class="fs-2x social-link link-flickr icon-flickr" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Flickr" *ngIf="profile.network == 'Flickr'"></a>
                         <a class="fs-2x social-link link-medium icon-medium" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Medium" *ngIf="profile.network == 'Medium'"></a>
                         <a class="fs-2x social-link link-github icon-github" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Github" *ngIf="profile.network == 'Github'"></a>
                         <a class="fs-2x social-link link-pinterest icon-pinterest" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Pinterest" *ngIf="profile.network == 'Pinterest'"></a>
                         <a class="fs-2x social-link link-google-plus icon-google-plus" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Google Plus" *ngIf="profile.network == 'Google Plus'"></a>
                         <a class="fs-2x social-link link-circle icon-circle" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Circle" *ngIf="profile.network == 'Circle'"></a>
                         <a class="fs-2x social-link link-code icon-code" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Code" *ngIf="profile.network == 'Code'"></a>
                         <a class="fs-2x social-link link-youtube icon-youtube" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Youtube" *ngIf="profile.network == 'Youtube'"></a>
                         <a class="fs-2x social-link link-stackoverflow icon-stackoverflow" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Stackoverflow" *ngIf="profile.network == 'Stackoverflow'"></a>
                         <a class="fs-2x social-link link-bitbucket icon-bitbucket" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Bitbucket" *ngIf="profile.network == 'Bitbucket'"></a>
                         <a class="fs-2x social-link link-tumblr icon-tumblr" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Tumblr" *ngIf="profile.network == 'Tumblr'"></a>
                         <a class="fs-2x social-link link-dribbble icon-dribbble" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Dribbble" *ngIf="profile.network == 'Dribbble'"></a>
                         <a class="fs-2x social-link link-skype icon-skype" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Skype" *ngIf="profile.network == 'Skype'"></a>
                         <a class="fs-2x social-link link-foursquare icon-foursquare" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Foursquare" *ngIf="profile.network == 'Foursquare'"></a>
                         <a class="fs-2x social-link link-gittip icon-gittip" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Gittip" *ngIf="profile.network == 'Gittip'"></a>
                         <a class="fs-2x social-link link-gratipay icon-gratipay" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Gratipay" *ngIf="profile.network == 'Gratipay'"></a>
                         <a class="fs-2x social-link link-stack-exchange icon-stack-exchange" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Stack Exchange" *ngIf="profile.network == 'Stack Exchange'"></a>
                         <a class="fs-2x social-link link-vimeo icon-vimeo" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Vimeo" *ngIf="profile.network == 'Vimeo'"></a>
                         <a class="fs-2x social-link link-behance icon-behance" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Behance" *ngIf="profile.network == 'Behance'"></a>
                         <a class="fs-2x social-link link-codepen icon-codepen" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Codepen" *ngIf="profile.network == 'Codepen'"></a>
                         <a class="fs-2x social-link link-hackernews icon-hackernews" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Hacker News" *ngIf="profile.network == 'Hacker News'"></a>
                         <a class="fs-2x social-link link-lastfm icon-lastfm" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Lastfm" *ngIf="profile.network == 'Lastfm'"></a>
                         <a class="fs-2x social-link link-angellist icon-angellist" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on AngelList" *ngIf="profile.network == 'AngelList'"></a>
                         <a class="fs-2x social-link link-meetup icon-meetup" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Meetup" *ngIf="profile.network == 'Meetup'"></a>
                         <a class="fs-2x social-link link-blogger icon-blogger" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Blogger" *ngIf="profile.network == 'Blogger'"></a>
                         <a class="fs-2x social-link link-exercism icon-exercism" href={{profile.url}} target="_blank" data-toggle="tooltip" title="me on Exercism" *ngIf="profile.network == 'Exercism'"></a>
                    </span>
                 </div>
            </div>
        </div>

    </section>