
    <div class="detail" id="volunteer-work" *ngIf="volnexp != null">
        <div class="icon"><i class="fs-lg icon-child"></i><span class="mobile-title">Volunteer Work</span></div>
        <div class="info">
            <h4 class="title text-uppercase">Volunteer Work</h4>
            <div class="content">
                <ul class="list-unstyled clear-margin">
                    <li class="card card-nested" *ngFor="let voln of volnexp">
                        <div class="content">
                            <p class="clear-margin relative"><strong>{{voln.position}}, </strong><a href={{voln.website}} target="_blank">{{voln.organization}}</a></p>
                            <p class="text-muted"><small><span class="space-right">{{voln.startDate|stringtoDate|date:"LLLL d, y"}} - {{voln.endDate|stringtoDate|date:"LLLL d, y"}}</span><span><i class="icon-clock mr-5"></i>{{voln.endDate|dateDifference:voln.startDate}}</span></small></p>
                            <div class="mop-wrapper">
                                <p>{{voln.summary}}</p>
                            </div>
                            <ul>
                                <li class="mop-wrapper" *ngFor="let hl of voln.highlights">
                                    <p>{{hl}}</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>