<div class="detail" id="interests">
    <div class="icon"><i class="fs-lg icon-heart"></i><span class="mobile-title">Interests</span></div>
    <div class="info">
        <h4 class="title text-uppercase">Interests</h4>
        <div class="content">
            <ul class="list-unstyled clear-margin">
                {{range .Interests}}
                    <li class="card card-nested">
                        <p><strong>{{.Name}}</strong></p>
                        <div class="space-top labels">
                            {{range .Keywords}}
                                <span class="label label-keyword">{{.}}</span>
                            {{end}}
                        </div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>