{{with .Basics}}
<section class="col-md-3 card-wrapper profile-card-wrapper affix">
    <div class="card profile-card"><span class="profile-pic-container"><div class="profile-pic"><img class="media-object img-circle center-block" data-src="holder.js/100x100" alt={{.Name}}} src="https://s.gravatar.com/avatar/9acdb04e603c1cac2b893190f6dd5911?s=100&amp;r=pg&amp;d=mm" itemprop="image" /></div><div class="name-and-profession text-center"><h3 itemprop="name"><b>{{.Name}}</b></h3><h5 class="text-muted" itemprop="jobTitle">{{.Label}}</h5></div></span>
        <hr />
        <div class="contact-details clearfix">
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-location"></i></span><span class="info">{{.Location.Address}}, {{.Location.City}}, {{.Location.Region}}, {{.Location.CountryCode}}, {{.Location.PostalCode}}</span></div>
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-phone"></i></span><span class="info" itemprop="telephone">{{.Phone}}</span></div>
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-mail"></i></span><span class="info"><a class="link-disguise" href="/cdn-cgi/l/email-protection#b7c5ded4dfd6c5d399dfd2d9d3c5dedcc4f7dad6dedb99d4d8da" itemprop="email"><span class="__cf_email__" data-cfemail="e89a818b80899a8cc6808d868c9a81839ba885898184c68b8785">[email&#160;protected]</span></a></span></div>
            <div class="detail"><span class="icon"><i class="icon fs-lg icon-link"></i></span><span class="info"><a href="{{.Website}}" target="_blank">{{.Website}}</a></span></div>
{{end}}
        {{range .Languages}}
            <div class="detail"><span class="icon" title="Languages I speak"><i class="icon fs-lg icon-language"></i></span><span class="info">{{.Name}}</span></div>
        {{end}}
        </div>
        <hr />
        <div class="social-links text-center">
        {{with .Basics}}
            <div>
                {{range .Profiles}}
                    {{if eq .Network "Twitter"}}
                        <a class="fs-2x social-link link-twitter icon-twitter" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Twitter"></a>
                    {{end}}
                    {{if eq .Network "FaceBook"}}
                        <a class="fs-2x social-link link-facebook icon-facebook" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on FaceBook"></a>
                    {{end}}
                    {{if eq .Network "Linkedin"}}
                        <a class="fs-2x social-link link-linkedin icon-linkedin" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Linkedin"></a>
                    {{end}}
                    {{if eq .Network "SoundCloud"}}
                        <a class="fs-2x social-link link-soundcloud icon-soundcloud" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on SoundCloud"></a>
                    {{end}}
                    {{if eq .Network "Spotify"}}
                        <a class="fs-2x social-link link-spotify icon-spotify" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Spotify"></a>
                    {{end}}
                    {{if eq .Network "Instagram"}}
                        <a class="fs-2x social-link link-instagram icon-instagram" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Instagram"></a>
                    {{end}}
                    {{if eq .Network "Reddit"}}
                        <a class="fs-2x social-link link-reddit icon-reddit" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Reddit"></a>
                    {{end}}
                    {{if eq .Network "Telegram"}}
                        <a class="fs-2x social-link link-telegram icon-telegram" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Telegram"></a>
                    {{end}}
                    {{if eq .Network "Flickr"}}
                        <a class="fs-2x social-link link-flickr icon-flickr" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Flickr"></a>
                    {{end}}
                    {{if eq .Network "Medium"}}
                        <a class="fs-2x social-link link-medium icon-medium" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Medium"></a>
                    {{end}}
                    {{if eq .Network "Github"}}
                        <a class="fs-2x social-link link-github icon-github" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Github"></a>
                    {{end}}
                    {{if eq .Network "Pinterest"}}
                        <a class="fs-2x social-link link-pinterest icon-pinterest" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Pinterest"></a>
                    {{end}}
                    {{if eq .Network "Google Plus"}}
                        <a class="fs-2x social-link link-google-plus icon-google-plus" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Google Plus"></a>
                    {{end}}
                    {{if eq .Network "Circle"}}
                        <a class="fs-2x social-link link-circle icon-circle" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Circle"></a>
                    {{end}}
                    {{if eq .Network "Code"}}
                        <a class="fs-2x social-link link-code icon-code" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Code"></a>
                    {{end}}
                    {{if eq .Network "Youtube"}}
                        <a class="fs-2x social-link link-youtube icon-youtube" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Youtube"></a>
                    {{end}}
                    {{if eq .Network "Stackoverflow"}}
                        <a class="fs-2x social-link link-stackoverflow icon-stackoverflow" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Stackoverflow"></a>
                    {{end}}
                    {{if eq .Network "Bitbucket"}}
                        <a class="fs-2x social-link link-bitbucket icon-bitbucket" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Bitbucket"></a>
                    {{end}}
                    {{if eq .Network "Tumblr"}}
                        <a class="fs-2x social-link link-tumblr icon-tumblr" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Tumblr"></a>
                    {{end}}
                    {{if eq .Network "Dribbble"}}
                        <a class="fs-2x social-link link-dribbble icon-dribbble" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Dribbble"></a>
                    {{end}}
                    {{if eq .Network "Skype"}}
                        <a class="fs-2x social-link link-skype icon-skype" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Skype"></a>
                    {{end}}
                    {{if eq .Network "Foursquare"}}
                        <a class="fs-2x social-link link-foursquare icon-foursquare" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Foursquare"></a>
                    {{end}}
                    {{if eq .Network "Gittip"}}
                        <a class="fs-2x social-link link-gittip icon-gittip" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Gittip"></a>
                    {{end}}
                    {{if eq .Network "Gratipay"}}
                        <a class="fs-2x social-link link-gratipay icon-gratipay" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Gratipay"></a>
                    {{end}}
                    {{if eq .Network "Stack Exchange"}}
                        <a class="fs-2x social-link link-stack-exchange icon-stack-exchange" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Stack Exchange"></a>
                    {{end}}
                    {{if eq .Network "Vimeo"}}
                        <a class="fs-2x social-link link-vimeo icon-vimeo" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Vimeo"></a>
                    {{end}}
                    {{if eq .Network "Behance"}}
                        <a class="fs-2x social-link link-behance icon-behance" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Behance"></a>
                    {{end}}
                    {{if eq .Network "Codepen"}}
                        <a class="fs-2x social-link link-codepen icon-codepen" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Codepen"></a>
                    {{end}}
                    {{if eq .Network "Hacker News"}} 
                        <a class="fs-2x social-link link-hackernews icon-hackernews" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Hacker News"></a>
                    {{end}}
                    {{if eq .Network "Lastfm"}}
                        <a class="fs-2x social-link link-lastfm icon-lastfm" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Lastfm"></a>
                    {{end}}
                    {{if eq .Network "AngelList"}}
                        <a class="fs-2x social-link link-angellist icon-angellist" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on AngelList"></a>
                    {{end}}
                    {{if eq .Network "Meetup"}}
                        <a class="fs-2x social-link link-meetup icon-meetup" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Meetup"></a>
                    {{end}}
                    {{if eq .Network "Blogger"}}
                        <a class="fs-2x social-link link-blogger icon-blogger" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Blogger"></a>
                    {{end}}
                    {{if eq .Network "Exercism"}}
                        <a class="fs-2x social-link link-exercism icon-exercism" href={{.URL}} target="_blank" data-toggle="tooltip" title="me on Exercism"></a>
                    {{end}}
                {{end}}
            </div>
        {{end}}
        </div>
    </div>
</section>