<div class="detail" id="work-experience">
    <div class="icon"><i class="fs-lg icon-office"></i><span class="mobile-title">Work Experience</span></div>
    <div class="info">
        <h4 class="title text-uppercase">Work Experience</h4>
        {{range .Work}}
        <ul class="list-unstyled clear-margin">
            <li class="card card-nested clearfix">
                <div class="content">
                    <p class="clear-margin relative"><strong>{{.Position}}</strong>,&nbsp;<a href={{.Website}} target="_blank">{{.Company}}</a></p>
                    <p class="text-muted"><small><span class="space-right">{{prettydate .StartDate}} - {{prettydate .EndDate}}</span><span><i class="icon-clock mr-5"></i>{{timediff .StartDate .EndDate}}</span></small></p>
                    <div class="mop-wrapper space-bottom">
                        <p>{{.Summary}}</p>
                    </div>
                    <ul>
                        {{range .Highlights}}
                        <li class="mop-wrapper">
                            <p>{{.}}</p>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </li>
        </ul>
        {{end}}
    </div>
</div>