
    <div class="detail" id="publications" *ngIf="publications != null">
        <div class="icon"><i class="fs-lg icon-newspaper"></i><span class="mobile-title">Publications</span></div>
        <div class="info">
            <h4 class="title text-uppercase">Publications</h4>
            <div class="content">
                <ul class="list-unstyled clear-margin">
                    <li class="card card-nested" *ngFor="let pub of publications">
                        <div class="content">
                            <p class="clear-margin"><strong><a href={{pub.website}} target="_blank">{{pub.name}}</a>&nbsp;,&nbsp;</strong>{{pub.publisher}}</p>
                            <p class="text-muted"><small>Published on: {{pub.releaseDate|stringtoDate|date:"LLLL d, y"}}</small></p>
                            <div class="mop-wrapper">
                                <p>{{pub.summary}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>