
    <div class="detail" id="skills" *ngIf="skills != null">
        <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">Skills</span></div>
        <div class="info">
            <h4 class="title text-uppercase">Skills</h4>
            <div class="content">
                <ul class="list-unstyled clear-margin">
                    <li class="card card-nested card-skills" *ngFor="let skill of skills">
                        <div class="skill-level" data-toggle="tooltip" title={{skill.level}} data-placement="left">
                            <div class="skill-progress {{skill.level}}"></div>
                        </div>
                        <div class="skill-info"><strong>{{skill.name}}</strong>
                            <div class="space-top labels">
                                <span class="label label-keyword" *ngFor="let keyword of skill.keywords">{{keyword}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>